* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
    background-color: black;
    color: white;
} */

.menu-bar {
  top: 0;

  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: black;
  text-decoration: none;
  text-align: left;
  margin-right: 200px;
  margin-left: 200px;

}

.menu-bar .logo img {
  height: 75px;
  margin: 10px;
}

.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: gray;
  align-items: center;
}

.menu-bar ul li {
  width: 130px;
  /* margin: 0px; */
  padding: 30px;
}

.menu-bar ul li .link {
  text-decoration: none;
  color: gray;
  font-size: 16px;
}

.menu-bar ul li .link:hover {
  color: white;
}

.sub-menu-1 {
  display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
  z-index: 1000;
  display: block;
  position: absolute;
  color: gray;
  background: black;
  margin-top: 24px;
  margin-left: -50px;
}

.sub-menu-2 {
  display: none;
}

.menu-bar ul li:hover .sub-menu-2 {
  z-index: 60;
  display: block;
  position: absolute;
  color: gray;
  background: black;
  margin-top: 24px;
  margin-left: -185px;
}

.sub-menu-3 {
  display: none;
}
.menu-bar ul li:hover .sub-menu-3 {
  z-index: 60;
  display: block;
  position: absolute;
  color: gray;
  background: black;
  margin-top: 24px;
  margin-left: -385px;
}


/* search */

.search-field input {
  margin-left: 300px; 
  margin-top: -39px;
  width: 200px;
  height: 40px;
}

.search-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-result p {
  font-size: 17px;
  color: white;
}

.supercell-id img{
  height: 30px;
  margin-left: 90px;

}

.supercell-id {
  margin-top: 27px;
}